@page "/"

<PageTitle>Hello Learning Blazor 🐙🐙🐙</PageTitle>

<h1>Hello Learning Blazor 🐙🐙🐙</h1>

Welcome to your new app🐬🐬🐬

<SurveyPrompt Title="How is Blazor working for you?" />

<Counter />

<hr />

<Counter IncrementAmount="3" />

<hr />

<Counter IncrementAmount="10" />
